<configuration>
    <property resource="application.properties" />
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>${logging.file.path}/application.log</file>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="fileAppender" />
    </root>
</configuration>
